body{
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630");
        background-repeat: no-repeat;
    background-size: cover;
}
img{
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px double black;
    padding:10px;
}